.searchbar {
  &_container {
    align-self: flex-end;
    position: relative;
  }

  &_input {
    border-bottom: none;
    padding-bottom: 0.5rem;
    background-color: rgba(194, 180, 224, 0.829);
  }

  &_suggestions {
    position: absolute;
    top: 100%;
    left: 0; 
    width: 100%;
    z-index: 1;
  }
}
