/* $color-primary: #005E7A;
$color-primary-light: #008DB8;
$color-primary-dark: #003F52;

$color-secondary: #442F38;
$color-secondary-light: #604350;
$color-secondary-dark: #302128;

$color-white: #FEF2D7;

$color-chart-green: #5AA329;
$color-chart-red: #D91C48;
 */

 $default-font-size: 10px;

 $color-primary-base: #261F65;
 $color-secondary-base: #491F65;
 $color-tertiary-base: #1F3B65;

 $color-primary-fade: #8BABDB;
 $color-primary-light: #5245C6;
 $color-secondary-light: #9345C6;
 $color-tertiary-light: #4578C6;

 $color-primary-fun: #8B2BD4;
 $color-secondary-fun: #D42BC9;
 $color-tertiary-fun: #362BD4;


 $color-white: #EAE9E9;
 $color-header-background: #6842b8;