@import "../abstracts/variables.scss";

.header {
  background-color: $color-header-background;

  grid-row: 1 / 2;
  grid-column: 1 / 13;

  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: last baseline;
  
  .heading-primary {
    flex-grow: 1;
    text-align: center;
    color: $color-white;
    margin: 0 0 1rem 0;
  }

  &__logo {
    max-width: 6rem;
    align-self: center;
    justify-self: center;
  }


  //<-------------------- Navbar------------------------>
  .navbar {  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 2rem;
  
    .login {
      margin-bottom: 4rem;
      align-self: center;
  
      .username,
      .password {
        width: 10rem;
        border-radius: 1rem;
        margin: 2.5px 1rem;
        border: none;
        background-color: rgba($color-primary-fade, 0.4);
        padding-left: 1rem;
  
        &::placeholder {
          color: $color-white;
          font-weight: 600;
        }
      }
    }
    .icons {
      width: 100%;
      align-self: center;
  
      display: flex;
      justify-content: space-evenly;
  
      .icontainer {
  
        img {
          width: 3rem;
        }
  
        .btn {          
            border: none;
            border-radius: 8px;
            background-color: rgba($color-primary-fade, $alpha: 0);
        }
      }
  
      .portfolio, .market, .leaderboard {
        justify-self: center;
      }
  
      .portfolio{
        grid-column: 1 / 2;
      }
      .market {
        grid-column: 2 / 3;
      }
      .leaderboard {
        grid-column: 3 / 4;
      }
    }
  }
  
}
